


.page-body {
	margin-top: 50px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.navbar-brand .shadow-logo {
    font-size: 40px;
    margin-top: -2px;
    float: left;
    margin-right: 10px;
}